Order Deny,Allow
Deny from all

# Pour 'resource.php'
<Files "resource.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/resource.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>

# Pour 'access_file.php'
<Files "access_file.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/access_file.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>

# Pour 'upload_file.php'
<Files "upload_file.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/upload_file.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>

# Pour 'delete.php' — AJOUT
<Files "delete.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/delete.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>

# Pour 'admin_api.php' — AJOUT
<Files "admin_api.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/admin_api.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>
# Pour 'admin_api.php' — AJOUT
<Files "admin_log_api.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/admin_log_api.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>
<Files "blokchaine_get_api.php">
    SetEnvIf Referer "^http://localhost/oauth2-project/client-web/" ACCESS_GRANTED
    SetEnvIf Request_URI "^/oauth2-project/protected-resources/blokchaine_get_api.php.*access_token=[a-f0-9]{64}$" ACCESS_GRANTED
    Allow from env=ACCESS_GRANTED
</Files>

